<!DOCTYPE html>
<html>
  <head>
    <title>嶺板金自動車</title>
    <meta charset="UTF-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="google-site-verification" content="DuJjq-DLudm6JKx54HJPEW85tHbGxA-ek1r9Bl0j5Ok" /><!--googleにurl を教えるために必要らしい-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
